*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color:#14E995 ;   
    background-size:100% 100% ;
    background-attachment:fixed;
}

div#1{
    background-color: orange;
    Width:500px;
    height:400px; 
    margin: 200px  ;
}